<div class="row ng-scope">
    <div class="col-lg-12">
        <h1 class="page-header">Edit Product</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row ng-scope">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Product Information</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form class="ng-pristine ng-valid" role="form">
                            <div class="form-group">
                                <label>Id</label>
                                <input class="form-control" placeholder="Enter product id" ng-model="product.Id" readonly="readonly" />
                            </div>
                            <div class="form-group">
                                <label>Name</label>
                                <input class="form-control" placeholder="Enter product name" ng-model="product.Name" />
                            </div>
                            <div class="form-group">
                                <label>Price</label>
                                <input class="form-control" placeholder="Enter product price" ng-model="product.Price" />
                            </div>
                            <div class="form-group">
                                <label>Quantity</label>
                                <input class="form-control" placeholder="Enter product quantity" ng-model="product.Quantity" />
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <textarea class="form-control" rows="3" ng-model="product.Description"></textarea>
                            </div>
                            <a ng-click="updateProduct()" class="btn btn-small btn-primary">Save</a>
                            <a ng-click="cancel()" class="btn btn-small btn-primary">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
